jupyter==1.0.0
# pandas==2.0.3
# numpy==1.25.0
# matplotlib==3.7.2
# seaborn==0.13.2
fastapi==0.100.0
uvicorn==0.24.0
requests==2.31.0
python-multipart==0.0.20
python-dotenv==1.0.0
pydantic-settings==2.0.3
aiofiles==23.2.1
langchain==0.3.7
motor==3.6.0
openai==1.52.2
cohere==5.9.0
